<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")    
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
</head>
<body>
    <div class="LayoutPage">
        @Html.Partial("_LayoutHeader")
        <div class="container-fluid">
            @RenderBody()
        </div>
        @RenderSection("Scripts", required: false)        
    </div>
    @Html.Partial("_LayoutFooter")
</body>
</html>
